button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    background: none;
    margin: 0;
    padding: 0;
    border: none;

    &[disabled]:not([disabled="false"]) {
        cursor: default;
    }
}

b {
    font-weight: 600;
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
    text-underline-offset: .2em;
    text-decoration-skip-ink: none;
}

s {
    text-decoration: line-through;
    text-decoration-skip-ink: none;
}

kbd {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    padding: .1em .4em;
    border: .0625em solid var(--c-kbd-border);
    color: var(--c-text-80p);
    border-radius: .25em;
    font-size: .85em;
    font-family: inherit;
}

.danger {
    color: var(--c-danger);
}